<h1>Nokogiri Test</h1>
<p>Current headlines on <%= link_to "reddit.com/r/ruby", @url_1 %> </p>

<ol>
  <% @doc.css('a.title').each do |link| %>
    <li><%=link_to link.content, link['href'] %></li>
  <% end %>
</ol>
