<div class="jumbotron center">
  <h3>What's Lit Temple?</h3>

  <p class="about gray">
    Lit Temple is a link and tweet collecting application built in Rails with a user-defined search/retrieval system to fetch & return the most relevent headlines & tweets to a single view.  It's currently under construction.
  </p>

  <p class="gray">
    Possible upcoming features include:
  </p>
  <ol class="center gray">
    <li>Better UI</li>
    <li>More sources</li>
    <li>Saving/bookmarking</li>
    <li>Rating</li>
    <li>Analytics/Trending</li>
    <li>Social sharing</li>
    <li>Custom user layouts</li>
  </ol>

  <p class="gray"></br>Check back soon.</p>


</div>
