<div class="jumbotron center">
  <h3>What's Lit Temple?</h3>

  <p class="about">
    Lit Temple is the brainchild of Chip Eyler. It's currently under construction and there's a ton of functionality in the works.
  </p>
  <p>More will come soon, so please stand by...</p>


</div>
