$navbar-height:      35px;
$navbar-bg: #E0F8F7;

@import "bootstrap";

/* universal */



.btn-primary {
  background: #DF691A;
  border: none;
}

.btn-primary:hover{
  background: #B45F04;
}

.center{
  background: #ffffff;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.sec-heading{
  text-align: center;
}

.input {
  text-align: center;
  width: 14%;
  border: none;
  border-radius: 3px;
  background: #E6E6E6;
  margin: 5px 0;
}

 .btn-success {
   background: #FF8000;
   border: none;
 }

 .btn-success:hover {
   background: #DF7401;
   border: none;
 }


textarea:focus, input:focus{
    outline: 0;
}

.navbar-brand {
  color: gray;
  font-weight: bold;
  text-shadow: 0px 1px 0px #e5e5ee;
}

.navbar-default {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0px 5px 13px -2px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0px 5px 13px -2px rgba(50, 50, 50, 0.15);
  box-shadow:         0px 5px 13px -2px rgba(50, 50, 50, 0.15);
}

.nav_width {
  width: 100%;
}

.dropdown-menu{
  background: #E0F8F7;
  border: none;
  border-radius: 5px;
  li a {
  color: #777777;
  }
}

.devise {
  padding-left: 150px;
}

.status {
  color: #D8D8D8;
  font-size: 1em;
  margin-top: 50px;
}

.container-fluid{
  padding: 0px;
}

.col-xs-6{
  width: 50%;
  padding-top: 20px;
}

.about {
  margin: 0 auto;
  width: 70%;
}

/* form fields */

.email_field, .password_field {
  text-align: center;
}

.spacer {
  margin-top: 5px;
}

/* notifications */

.alert-info {
  margin: 0 auto 20px 0;
  text-align: center;
}

/* footer */

.footer{
  padding-top: 15px;
}

small {
  margin: 0 auto;
  text-align: center;
}
