@import "bootstrap";

/* universal */



.btn-primary {
  background: #DF691A;
  border: none;
}

.btn-primary:hover{
  background: #B45F04;
}

.jumbotron{
  background: #ffffff;
  margin: 0 auto;
  padding: 1%;
  text-align: center;
}

.sec-heading{
  text-align: center;
}

.input {
  text-align: center;
  width: 14%;
  border: none;
  border-radius: 3px;
  background: #E6E6E6;
}

 .btn-success {
   background: #FF8000;
   border: none;
 }

 .btn-success:hover {
   background: #DF7401;
   border: none;
 }


textarea:focus, input:focus{
    outline: 0;
}

.navbar-default {
  background: #ffffff;
  border: none;
}

.navbar-header p {
  padding-top: 15px;
  color: gray;
}

/* footer */


small {
  margin: 0 auto;
  text-align: center;
}
