<footer class="footer">
  <small>
    <%= link_to "freqn.com", 'http://freqn.com' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Documentation', '#' %></li>
      <li><%= link_to 'Contact', '#' %></li>
    </ul>
  </nav>
</ul>
</footer>
