<div class="jumbotron center">
<h3>Looking for something simple?</h3>
<%= form_tag("/", method: "get") do %>


  <p><%= text_field_tag :q, nil, class: 'input', placeholder: 'type here', autofocus: true %></p>
  <p><%= submit_tag 'Fetch', class: "btn btn-lg btn-success" %></p>

  <% if params[:q].blank? %>
    <% params[:q] = 'all' %>
  <% end %>

<% end %>
</div>
